$c_black: #151A22;
$c_white: #F0F0F0;
$c_grey: #575D61;
$c_green: #00AA74;

$t_font-family: "Open Sans", "Helvetica Neue", "Helvetica", arial, sans-serif;
$t_line_height: 1.6;
$t_size-big: 26px;
$t_size-medium: 16px;
$t_size-small: 12px;
$t_size-base: 14px;

$d_container: 1140px;
$d_small: 10px;
$d_medium: 20px;
$d_large: 40px;
$d_ultra: 100px;

$e_border-radius: 2px;