.interview {
    background: $c_black;
    width: 60%;
    padding-right: $d_large;

    label {
        display: block;
        color: $c_grey;
        padding: $d_medium*2 0 $d_small;
        margin-bottom: -30px;
        transition: all .3s;

        &.active {
            margin-bottom: 0;
            transition: all .3s;
        }
    }

    textarea {
        display: block;
        width: 100%;
        background: none;
        border: none;
        border-bottom: 2px solid $c_grey;
        color: $c_white;
        outline: none;
        padding: 0 0 $d_small 0;
        line-height: $t_line_height;
        -webkit-appearance: none;
        border-radius: 0;

        &:focus, &:active {
            border-bottom: 2px solid $c_green;
        }
    }

    .controls {
        margin: $d_large 0;
    }

    #menu {
        text-indent: -9999px;
        position: relative;
        float: right;
        top: 11px;
        width: 25px;
        height: 21px;

        &:after, &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 25px;
            height: 2px;
            background: $c_white;
            box-shadow:
            0 9px 0 0 $c_white,
            0 18px 0 0 $c_white;
        }
    }
}