#menu {
    display: none;
}

.checklist-mobile {
    display: none;
}

@media screen and (max-width: 920px) {
    .interview, .checklist {
        width: 50%;
    }

    header {
        margin: $d_large 0 $d_medium;

        h1 {
            font-size: $t_size-big;
        }

        h2 {
            font-size: $t_size-base;
        }
    }

    .checklist, .checklist-mobile {
        padding-top: $d_large;
    }
}

@media screen and (max-width: 740px) {
    section {
        padding: 0 $d_medium $d_large;
    }
    .interview, .checklist-mobile {
        width: 100%;
    }
    .interview {
        padding-right: $d_medium;
    }

    .checklist {
        display: none;
    }

    .checklist-mobile {
        display: none;
        position: absolute;
        z-index: 9999;
        top: 0;

        &.active {
            display: block;
        }
    }

    #menu {
        display: block;
    }
}